<h1>投稿一覧</h1>

<% @pictures.each do |picture| %>
    <table>
        <div class = "each_feed">
            <tr>
                <td>投稿日時 <%= picture.created_at %></td>
            </tr>
            <tr>
                <td>投稿者 <%= picture.user.name %></td>
            </tr>
            <tr>
                <td><%= picture.content %></td>
            </tr>
            <tr>
                <td><%= image_tag(picture.image.url) if picture.image && picture.image.url %></td>
            </tr>
            <tr>
                <% unless picture.user_id == current_user.id %>
                    <% favorite = current_user.favorites.find_by(picture_id: picture.id) %> 
                    <% if favorite %>
                        <td>
                            <%= link_to 'お気に入り解除する', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-danger' %>
                        </td>
                    <% else %>
                        <td>
                            <%= link_to 'お気に入りする', favorites_path(picture_id: picture.id), method: :post, class: 'btn btn-primary' %>
                        </td>
                    <% end %>
                <% end %>
            </tr>
        </div>
    </table>
<% end %>
